@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: rgb(100, 160, 100);
  box-sizing: border-box;
  text-align: -webkit-center;
}

.draw {
  background: black;
  color: orangered;
}
.sort {
  background: black;
  color: orangered;
}
